body{
    font-family: 'Arial', sans-serif;
    border: 1px solid rgb(0, 255, 42);
}
h1{
    color:red;
    font-size: 30px;
}

a{
    color: blue;
    text-decoration: none;
}

/* for class we use . and id we use # */